<div class="row" [ngClass]="{'completed': item.completed}">
    <div class="title">
        <input type="checkbox" [checked]="item.completed" (change)="onToggle(item)">
        {{item.title | uppercase}}
    </div>
    <div class="price">
        {{item.price | currency}}
    </div>
    <div class="quantity">
        {{item.quatity}}
    </div>
    <div class="total">
        {{ ((item.price && item.quatity) ? (item.price * item.quatity) : 0) | currency}}
    </div>
    <div class="actions">
        <button (click)="delete(item)">Eliminar</button>
    </div>
</div>